<template>
    <div id="game-play">
        <v-html>
        <div v-if="index!=questions.length">
        <h1>Question {{index}} of {{questions.length}} </h1>
        <img src="https://i.pinimg.com/originals/fc/a2/4c/fca24c5b36bb4c38c66b1e2047480fe4.png" width="200" height="400" >
        <QuizQuestion v-on:true-clicked="handleTrue" v-on:false-clicked="handleFalse" v-bind:quiz-question="questions[index]"></QuizQuestion>
        </div>
        <navigation v-if="index==questions.length && index !=0"> <GameOver v-bind:questions="questions" v-bind:answers="answers" v-bind:score="score"/> </navigation>
        </v-html>
    </div>
</template>

<script>

import axios from "axios";
import QuizQuestion from './QuizQuestion.vue'
import GameOver from './GameOver.vue'

export default{
    name: 'GamePlay',
    components:{
        QuizQuestion,
        GameOver
    },
    created(){
        axios.get("https://opentdb.com/api.php?amount=10&type=boolean")
        .then(resp => resp.data).then(resp=>{
            this.questions = resp.results || [];
            
        });
        
    },
    data(){
        return{
            questions:[],
            index:0,
            score:0,
            answers:[]

        };
    },
    methods:{
        handleTrue(message){
            window.console.log(message)
            this.index++
            if (message==="True"){
                this.score+=10
            }
            this.answers.push("True")
            window.console.log(this.score)


        },
        handleFalse(message){
            window.console.log(message)
            this.index++
            if (message==="False"){
                this.score+=10
            }
            this.answers.push("False")
            window.console.log(this.score)
        }
    }
};

</script>