<template>
    <div class="game-menu">
        <h1>Shrek-themed quiz using the opentdb api</h1>
         <img alt="allstar" src="../assets/shrek.png" height="400" width="300">
         <br>
        <router-link to="/game" tag=button id="start">ENTER MY SWAMP!</router-link>
    </div>   
</template>

<script>
export default {
    name: 'GameMenu',

}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: whitesmoke;
  margin-top: 60px;
  background-image: url('https://i.imgur.com/CuShj4j.jpg')
  }
button {
  background-color: #4CAF50; /* Green */
  border:none;
  color: burlywood;
  padding: 100px 200px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 64px;
border-radius: 50px
}
h1 {
    font-size: 100px;
    color:brown;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}

</style>
