<template>
<div>
    <v-html>
  <h1>Score: {{score}}</h1>
  <div v-for="(q,i) in questions" v-bind:key="i">
      <h3>Question {{i}}</h3>
      <h4>{{q.question}}</h4>
      <p>Correct answer was:{{q.correct_answer}}</p>
      <p>Your answer was: {{answers[i]}}</p>
  </div>
    </v-html>
  <router-link to="/" tag=button id="start">REENTER MY SWAMP!</router-link>
  </div>
</template>

<script>



export default {
    name:"GameOver",

    props:{
        questions:{
            type:Array
        },
        answers:{
            type:Array
        },
        score:{
            
        }
    }

}
</script>

<style>

</style>