<template>
  <div class="quiz-question">
      <v-html>
    <h2>{{quizQuestion.question}}</h2>
    </v-html>
    <button v-on:click="ontrue">True</button>
    <button v-on:click="onfalse">False</button>

  </div>
</template>

<script>
export default {

 name:'QuizQuestion',
 props:{
     quizQuestion:{
         type: Object,
     }
 },
 methods:{
     ontrue(){
         this.$emit('true-clicked', this.quizQuestion.correct_answer)
    },
     onfalse(){
         this.$emit('false-clicked', this.quizQuestion.correct_answer)
     }
 }
}
</script>

<style>

</style>