<template>
  <div id="app">
    <router-view></router-view>
  </div>
</template>

<script>


//import HelloWorld from './components/HelloWorld.vue'
//<HelloWorld msg="Welcome to Your Vue.js App"/>
export default {
  name: 'app',

}
</script>

